.wrapped-graph { 
    overflow: auto;
    height: 90%;
    margin-top: 5%;
    text-align: center;
}
.wrapped-graph .nodes, .wrapped-graph .edges {
    /* transition-property: opacity transform width height; */
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
}

.node{
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 5s linear infinite;
    margin: auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}