/* .spanInfo, .sub1{
 font-size: 0.8em;
 
} */
/* .ant-menu-submenu-title:hover{
    color:gray !important;
} */
.ant-card-body{
    padding-top: 5px!important;
}
.train .ant-tabs-content{
    height: 100%;
}

/* .ant-tabs-content { 
    width: 100%;
    
    overflow-y: auto;
    overflow-x: hidden; 
} */

.ant-tabs-tab{
    font-size: 1.1em;
}
.ant-card-head{
    font-size: 1.3em;
}