.resizer-col{
    cursor: col-resize;
    width:40px;
    height: calc(100vh - 70px);
    position: absolute;
    top:70px;
}

.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:#ffffff;
}