
.header{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
    color:#ffffff;
    height:var(--header-h)!important;
}

.View{
    background-color: white;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.12), 0px 4px 4px 0px rgba(0,0,0,0.24);
    margin:8px;
    z-index: 5;
}

.ViewBottom {
    overflow: auto;
    height: calc((100vh - var(--header-h))*(1 - var(--ratio-up)))
}