.ArchitectureCompare {
    height: 100%;
}

.ArchitectureColumn {
    height: 100%;
    transition-duration: .3s;
    transition-timing-function: ease;
}

.ArchRight {
    animation: blink .3s;
}
.MyCascade .ant-cascader-menu {
        height: auto;
        max-height: 160px;
}

@keyframes blink {
    0% {
        opacity: .0;
    }
    99.99% {
        opacity: .0;
    }
    100% {
        opacity: 1.;
    }
}
