.Evolution{
    height: calc((100vh - var(--header-h))*var(--ratio-up) - var(--div-margin));
    overflow: hidden;
}
.Node, .Edge, .NodeBg {
    /* -webkit-transition-property: width height background-color font-size left top transform -webkit-transform color; */
    -webkit-transition-duration: 1.0s;
    -webkit-transition-timing-function: ease-in-out;
    /* transition-property: width height background-color font-size left top transform -webkit-transformv color; */
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
}


.link_info{
    fill:black;
    stroke:none;
    stroke-width:1px;
}

.infoButton, .ant-btn{
    position: inherit!important;
    margin: 2px 0px;
}
/* dropdown button */
.ant-btn > span{
    font-size: 1.2em;
}
/* variants */
.variants:before{
    content: "\2609";
    font-size: 2em;
}
.variants:first-child{
    margin-left: 5px;
}


