.Evolution{
    height: calc((100vh - var(--header-h))*var(--ratio-up) - var(--div-margin));
    overflow: auto;
}
.Node, .Edge {
    /* -webkit-transition-property: width height background-color font-size left top transform -webkit-transform color; */
    -webkit-transition-duration: 1.0s;
    -webkit-transition-timing-function: ease-in-out;
    /* transition-property: width height background-color font-size left top transform -webkit-transformv color; */
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
}


.link_info{
    fill:black;
    stroke:none;
    stroke-width:1px;
}

.infoButton, .ant-btn{
    position: inherit!important;
    margin: 5px;
}
.ant-btn > span{
    font-size: 1.4em;
}