.wrapped-graph { 
    overflow: auto;
    height: 90%;
    margin-top: 5%;
    text-align: center;
}
.wrapped-graph .nodes, .wrapped-graph .edges {
    /* transition-property: opacity transform width height; */
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
}

.node{
    transition-duration: .5s;
    transition-timing-function: ease-in-out;
}