.selected{
    stroke:blue;
    stroke-width: 2px;
    fill:white;
    position: relative !important;
    z-index: 100;
}
.remove {
    fill: red;
    cursor: pointer;
}
.RadialBoxplot {
    overflow: hidden;
}