/* .spanInfo, .sub1{
 font-size: 0.8em;
 
} */
/* .ant-menu-submenu-title:hover{
    color:gray !important;
} */
.ant-card-body{
    padding-top:4px!important;
}

.ant-tabs-content { 
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}